.wrapper {
  width: 100%;
  background-color: #cccccc;
  transition: all 0.3s;
  position: relative;
  height: 600px;
  margin-top: 20px;
}
.wrapper:hover {
  background-color: #999999;
}
.content {
  position: absolute;
  width: 90%;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  align-items: center;
}

p {
  text-align: justify;
}
.topic {
  position: absolute;
  bottom: 0;
  right: 10%;
  margin: auto;
  border: 2px solid black;
}
